# Dependencies
node_modules/
dist/

# Environment Variables
.env
.env.local
.env.*.local
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev_output.log
build_output*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
